<form [formGroup]="rememberForm" (onSubmit)="remember()" class="fadein">

    <i class="fas fa-times close"
    (click)="closeComponent()"></i>

    <div class="form-group forgot-group">
        <label for="emailUser">E-mail</label>
        <input type="emailUser" id="emailUser" 
        formControlName="emailUser">
        <small [ngClass]="{'text-error':response}" class="small">Enter your e-mail to reset your password</small>
        <small [ngClass]="{'error-text':!error, 'success-text':error}">{{error_text}}</small>
    </div>

    <button class="btn forgot-btn"
     (click)="remember()">SEND</button>
</form>