<div class="container h70 scroll">
    <div class="w95">
        <h2  (click)="showStep(0)">.<strong>Back Panels</strong></h2>
        <h4>Select finish of panels</h4>
        <div *ngIf="stepsFinish[0]">
            <p>Uprights are shaped of extruded Aluminum tubes, with a section of 1" W x 2-1/4"D. The height canbe modified on-site or you can order a custom height. The Finish is done in Epoxy for a longer lifetime. Lighting systems can be installed in the back of a channel.</p>
           
            <p class="mt6">Matt Lacquered Paint finishes</p>
            <img src="assets/img/closets/back-panels-pallete.png" alt="">
       
            <app-button style="width: 105%;" class="button" [config]="configNextButton[0]" (click)="selectStepAndContinue(0)" ></app-button>
        </div>
    </div>

    <div> 
        <h2 (click)="showStep(1)">.<strong>Handle & Rails</strong></h2>
        <h4>Select finish of Aluminum finishes</h4>
        <div *ngIf="stepsFinish[1]">
            
            <p>Made in tubular aluminium and perforated plate with epoxy coating in the AFP finishes. Square closure; capacity 30 kg (extraction 14").</p>
            <img class="w40 mt1" src="assets/img/closets/handle&rails-pallete.png" alt="">
            <app-button class="button" [config]="configNextButton[1]" (click)="selectStepAndContinue(1)" ></app-button>
        </div>
    </div>
    
    <div> 
        <h2 (click)="showStep(2)">.<strong>Uprights & Rails</strong></h2>
        <h4>Select finish of Aluminum finishes</h4>
        <div *ngIf="stepsFinish[2]">
            <p>Made in tubular aluminium and perforated plate with epoxy coating in the AFP finishes. Square closure; capacity 30 kg (extraction 14").</p>
            <img class="w40 mt1" src="assets/img/closets/handle&rails-pallete.png" alt="">
            <app-button class="button" [config]="configNextButton[2]" (click)="selectStepAndContinue(2)" ></app-button>
        </div>
    </div>
    
    <div> 
        <h2 (click)="showStep(3)">.<strong>Shelves</strong></h2>
        <h4>Select finish of Open Units</h4>
        <div *ngIf="stepsFinish[3]">
            <p>Fibreboard panel, 1-1/2" thick faces with melamine paper on two sides in the finishes ESC/ESP or lacquered FINISH LOP.ABS trim coloured to match the panel.</p>
            
            <p class="mt6">Matt Lacquered Paint finishes</p>
            <img src="assets/img/closets/shelves.png" alt="">
            <app-button class="button" [config]="configNextButton[3]" (click)="selectStepAndContinue(3)" ></app-button>
        </div>
    </div>
    
    <div> 
        <h2 (click)="showStep(4)">.<strong>Open Units</strong></h2>
        <h4>Select finish of Open Units</h4>
        <div *ngIf="stepsFinish[4]">
            <p>Fibreboard element, 1" thick for the external structure and 1/2" inside. Faced with melamine paper on two sides in the finishes.</p>
            
            <p class="mt6">Matt Lacquered Paint finishes</p>
            <img src="assets/img/closets/open-units.png" alt="">
            
            <app-button class="button" [config]="configNextButton[4]" (click)="selectStepAndContinue(4)" ></app-button>
        </div>
    </div>
    
    <div> 
        <h2 (click)="showStep(5)">.<strong>Drawers</strong></h2>
        <h4>Select finish of Drawers</h4>
        <div *ngIf="stepsFinish[5]">
            <p>Made in fibreboard, 2-1/2" for sides, Faced with melamine paper on two sides. Square guides with part pull-out and Blumation soft closure; capacity 30 kg (extraction 14"). Drawer units can be hung between uprights, or on the floor, using the special base whith adjustable feet or recessed swivel castors.</p>
            <img src="assets/img/closets/drawers.png" alt="">
            <app-button class="button" [config]="configNextButton[5]" (click)="selectStepAndContinue(5)" ></app-button>
        </div>
    </div>
</div>
<!-- <app-button class="button h6" [config]="configNextButton" (click)="continue()"></app-button> -->
<div class="line-color h6"></div>