<nav *ngIf="sidenav" class="animate__animated animate__fadeInLeft">
    <div class="web">
        <div class="img">
            <img src="/assets/img/kitchen/logo.png" alt="">
        </div>
    </div>
    <div class="mobile">
        <i class="fas fa-bars" (click)="viewNav()"></i>
        <div class="img">
            <img src="/assets/img/kitchen/logogreen.png" alt="">
        </div>
        <div class="mobile sms">
            <i class="fas fa-phone-alt"></i>
        </div>
    </div>

    <article class="options">
        <div *ngFor="let item of items">
            <a *ngIf="item.route"
            routerLink="{{item.route}}" class="title">
                {{item.title}}
            </a>
            <p *ngIf="!item.route" class="title" (click)="viewOptions(item)">
                {{item.title}}
            </p>
            <div class="child-container" *ngIf="item.selected">
                <a *ngFor="let children of item.children" class="children"
                routerLink="{{children.route}}">
                    {{children.title}}
                </a>
            </div>
        </div>
    </article>

    <article class="actions">
        <a class="action" *ngFor="let action of actions"
        routerLink="{{action.route}}">
        <i class="fas fa-{{action.icon}}"></i>
            {{action.title}}
        </a>
    </article>

    <article class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-pinterest"></i>
        <p>1 (888) 863-2272</p>
    </article>
</nav>

<section class="web">
    <i class="fas fa-bars" (click)="viewNav()"></i>
</section>

<section class="mobile">
    <i class="fas fa-bars" (click)="viewNav()"></i>
    <div class="img">
        <img src="/assets/img/kitchen/logogreen.png" alt="">
    </div>
    <div class="mobile sms">
        <i class="fas fa-phone-alt"></i>
    </div>
</section>