<main>
    <app-kitchennavbar></app-kitchennavbar>

    <section>
        <div class="logo-container">
            <a class="img" routerLink="/luxurykitchen">
                <img src="/assets/img/kitchen/logogreen.png" alt="">
            </a>
        </div>
        <div class="section-title">
            <h2>
                To Get Started
            </h2>
        </div>

        <article class="details">
            <div class="palette-image">
                <div class="img">
                    <img src="/assets/img/kitchen/media/degrade.png" alt="degrade">
                </div>
            </div>

            <div class="second">
                <div class="main-header">
                    <div class="title">
                        <div>
                            ADD ALL YOUR <br class="br"> <span>FAVORITES</span>
                        </div>
                        <div class="icon-mobile">
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                    <div class="selected">
                        <div class="options-container">
                            <p>What you have selected</p>
                            <div class="options">
                                <div class="option">
                                    <i class="fas fa-heart"></i> Colors
                                </div>
                                <div class="option">
                                    <i class="fas fa-heart"></i> Collections
                                </div>
                                <div class="option">
                                    <i class="fas fa-heart"></i> Opening systems
                                </div>
                                <div class="option">
                                    <i class="fas fa-heart"></i> Cabinet Options
                                </div>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>

                <article class="text-details">
                    <div class="up">
                        <div class="img1">
                            <img src="/assets/img/kitchen/media/imggetstarted.png" alt="">
                        </div>
                        <div class="up-text">
                            <div class="title">
                                Our design process
                            </div>
                            <p>Excellent you are ready to have an amazing kitchen done. In order to do this, you will have to select from the hundreds of finishes we have the COLORS you like. The tab OPENING SYSTEMS is where you have to tell us if you want
                                a kitchen with handles, a Grove, or a completely minimal kitchen where you just touch to open. T COLLECTIONS tab is the place where you select the styles of kitchens you like the most, and the ones you find interesting.
                                In the tab for CABINET OPTIONS, you can select the types of cabinets that you want to see and the options that are important to you. We will be using these options to guide us on what is important for you. </p>
                        </div>

                    </div>

                    <div class="palette-image-mobile">
                        <div class="img">
                            <img src="/assets/img/kitchen/media/degrade.png" alt="">
                        </div>
                        <div class="img">
                            <img src="/assets/img/kitchen/media/degrade.png" alt="">
                        </div>
                    </div>

                    <div class="main-text">
                        <div class="img2 animate__animated animate__fadeIn" *ngIf="onlyimg">
                            <img src="/assets/img/kitchen/logogetstarted.png" alt="">
                        </div>
                        <div class="img2 clickhere animate__animated animate__bounceIn" *ngIf="clickhere">
                            <img src="/assets/img/kitchen/media/clickhere.png" alt="">
                        </div>
                        <p>After you select these options you will be directed to a section where you will decide if you want to have CasaLux go to your house and get all the dimensions for the space and go over with other selections. This option has a cost
                            of $500 and it is not refundable. Or you can select the option to draw your sketch and provide the appliances that you like. Once you finish with this CasaLux will start the design process, this has a cost of $1000 that will
                            be applied to the kitchen cabinet order.</p>
                    </div>
                </article>
                <div class="img2-mobile">
                    <img src="/assets/img/kitchen/mobilelogo.jpg" alt="">
                </div>
            </div>
        </article>
    </section>

</main>