<main>
    <app-kitchensidebar></app-kitchensidebar>

    <section>

        <div class="logo-container">
            <div class="img">
                <img src="/assets/img/kitchen/logogreen.png" alt="">
            </div>
        </div>

        <div class="section-title">
            <h2>
                To Get Started
            </h2>
        </div>

        <article class="details">
            <div class="title">
                ADD ALL YOUR <br class="br"> <span>FAVORITES</span>
                <div class="icon">
                    <i class="far fa-heart"></i>
                </div>
            </div>
            <div class="selected">
                <div class="options-container">
                    <p>What you have selected</p>
                    <div class="options">
                        <div class="option">
                            <i class="fas fa-heart"></i>
                            Colors
                        </div>
                        <div class="option">
                            <i class="fas fa-heart"></i>
                            Collections
                        </div>
                        <div class="option">
                            <i class="fas fa-heart"></i>
                            Opening systems
                        </div>
                        <div class="option">
                            <i class="fas fa-heart"></i>
                            Cabinet Options
                        </div>
                    </div>
                </div>
                <div class="icon">
                    <i class="far fa-heart"></i>
                </div>
            </div>
        </article>

        <article class="text-details">
            <div class="img1">
                <img src="/assets/img/kitchen/media/imggetstarted.png" alt="">
            </div>
            
            <div>
                <div class="title">
                    Our design process
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Laborum est, magnam aut consequuntur voluptatem alias fuga officia?
                Vel impedit labore dolorum, debitis soluta adipisci minima officia officiis quidem
                quisquam laborum ratione quos quod possimus sint nisi libero, commodi voluptatum rem
                necessitatibus quis. Porro blanditiis corporis dolores error, alias tenetur aliquam
                consequatur quas soluta officia corrupti eius odio saepe, repellat fugit optio tempore.
                Optio nihil aspernatur a placeat illum eaque repudiandae quas perspiciatis velit sint
                quam dignissimos quia aut dolores deserunt sed quis natus molestias praesentium,
                mollitia error? Voluptatibus iure voluptas recusandae unde possimus, soluta culpa
                ipsam esse! Repudiandae eos officia et harum consequatur sapiente impedit sed pariatur,
                rem nostrum ratione officiis quis minima natus, expedita, vero atque laboriosam animi
                ullam. Amet in aperiam architecto quidem asperiores. Veritatis neque in ex totam modi
                quasi numquam, odio ab deleniti delectus consectetur ad aperiam, autem inventore magnam
                saepe tempore cum veniam adipisci, sunt aut ducimus harum? Ea voluptate cum dolore
                cumque nam dicta asperiores laudantium quae aliquid quidem quia iste, quas perspiciatis
                repellendus quo libero rerum totam maiores officia nobis doloribus laboriosam mollitia
                assumenda. Ipsam dicta ad ipsum magnam exercitationem quasi distinctio explicabo,
                laboriosam dolorem earum. Dicta odit, mollitia explicabo asperiores reprehenderit sit!
                Ducimus magnam aliquam delectus maiores sequi accusantium qui aut pariatur officiis
                modi? Distinctio, eaque quidem quam iusto dolor accusantium earum nam iste quibusdam
                minima doloribus placeat eum velit recusandae qui </p>
                <div class="img2">
                    <img src="/assets/img/kitchen/logogetstarted.png" alt="">
                </div>
                <p> reiciendis, doloremque
                tempora deleniti? Ut pariatur fugit quaerat laborum architecto debitis, labore dolores
                sint impedit ullam tempora nihil doloribus? Exercitationem nobis magnam saepe libero
                repellendus, sequi autem possimus dolore dignissimos, necessitatibus modi ipsa
                temporibus quasi asperiores fugiat officia, a officiis. Ex consequatur tenetur nulla
                inventore id voluptas itaque dignissimos perferendis aliquid, autem dolor! Dolore
                perferendis eaque esse illo, dolores quidem explicabo enim amet exercitationem maiores
                odio non aperiam officia.</p>
                <div class="mobile img2">
                    <img src="/assets/img/kitchen/mobilelogo.jpg" alt="">
                </div>
            </div>

        </article>


    </section>
</main>

