section {
    width: 5vw;
    height: 100%;
    color: var(--green);
    background: var(--k-black);
    position: fixed;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
}

section i {
    cursor: pointer;
}

.mobile {
    display: none;
}

.navLeft {
    background: var(--k-black);
    position: fixed;
    left: 5vw;
    height: 100vh;
    width: 21vw;
    top: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 999;
}

nav article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.scroll {
    overflow-y: auto;
    height: 90vh;
    width: 100%;
}

nav article.options {
    margin-top: 10vh;
    width: 90%;
}

nav article.second-options {
    width: 90%;
}

.navLeft .options .title {
    color: var(--k-green-op);
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
    transition: all.4s ease;
    border: 1px solid var(--k-black);
    padding: .2rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.navLeft .options .title a {
    text-decoration: none;
    color: var(--k-green-op);
}

.navLeft article .title:hover {
    color: var(--green);
    border: 1px solid var(--k-green-op);
}

nav .options .child-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--white);
    flex-direction: column;
    padding-left: 1rem;
}

nav .options .children {
    color: var(--grey);
    font-size: .9em;
    margin-top: .4rem;
    text-decoration: none;
}

nav .options .children:nth-child(1) {
    margin-top: -.2rem;
}

nav .options .children:last-child {
    margin-bottom: 1rem;
}

.text {
    margin-top: 5rem;
}

nav .extras {
    position: absolute;
    bottom: 8vh;
    width: 90%;
}

nav .actions {
    margin-top: 5vh;
    width: 90%;
}

nav .actions .action {
    color: var(--k-green-op);
    border: 1px solid var(--k-green-op);
    border-radius: 10px;
    padding: .4rem .6rem;
    width: 100%;
    margin-top: .4rem;
    text-decoration: none;
    transition: background.2s;
}

.navLeft .actions .action a {
    color: var(--k-green-op);
    cursor: pointer;
    text-decoration: none;
}

.navLeft .actions .action i {
    color: var(--green);
}

.navLeft .actions .action:hover {
    background: var(--green);
    color: var(--k-black);
}

nav .actions .action:hover i {
    color: var(--k-black);
}


/* ----------------------NAVUP---------------------- */

.navUp {
    background: var(--k-green-op);
    position: fixed;
    height: 100vh;
    width: 21vw;
    top: 0;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 999;
    color: #eaece9;
}

.navUp .options .title {
    color: #eaece9;
    font-size: 1.25em;
    text-decoration: none;
    transition: all.4s ease;
    padding: .2rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.navUp .second-options .title {
    color: #eaece9;
    font-size: 1.25em;
    text-decoration: none;
    transition: all.4s ease;
    padding: .2rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.navUp article .title:hover {
    color: #ffff;
    font-weight: bold;
}

.navUp .options .title a {
    text-decoration: none;
    color: white;
}

.navUp .actions .action a {
    color: #eaece9;
    cursor: pointer;
    text-decoration: none;
}

.navUp .actions .action i {
    color: white;
}

.navUp .actions .action:hover {
    background: var(--grey);
    color: var(--k-black);
}

hr.solid {
    border-top: 3px solid #bbb;
    border-radius: 5px;
    margin: 3rem 0;
}


/* ----------------------END nAVUP---------------------- */

@media (max-width:400px) {
    .web {
        display: none;
    }
    .navLeft {
        height: 96vh;
        width: 100%;
        left: 0;
    }
    .navUp {
        height: 96vh;
        width: 100%;
        left: 0;
    }
    nav .web {
        display: none;
    }
    nav article.options {
        margin-top: 18vh;
    }
    nav .options .child-container {
        margin-top: .5em;
    }
    nav .extras {
        position: absolute;
        bottom: 4vh;
        left: 0;
        width: 90%;
    }
    nav .actions {
        margin-top: 0;
        margin-left: .8em;
        font-size: .8em;
        width: 85vw;
    }
    nav .actions .action {
        font-size: 1em;
    }
}