
<app-nav-header [config]="configNav" type="web" (sendViewNav)="openMenu()"></app-nav-header>
<app-navbar2 [items]="itemsNav" [left]="navLeft" [showNavbar]="activeSidenav" (sendShowNavbar)="setSideNav($event)"></app-navbar2>
<div class="container">
    <div class="left">
        <h1>MASTER CLOSET</h1>
        <h3> <strong>COLOR SELECTION:</strong> Cream side panels.</h3>
        <div class="image">
            <!-- left large img white and black (shelves/open units....) -->
            <img class="one" src="assets/img/closets/master-closet-left.png" alt="">
            <!-- Left Big img the collection select with de botton  -->
            <img class="two" [src]="src" alt="">
        </div>
        <p class="title">FINISHES STEPS:1 - Panels 1.1 - Handles & Roils 2 - Shelves 3 - Open Units 4 - Drawer</p>

    </div>

    <div class="right">
        <div class="steps">
            <img class="" src="assets/img/closets/master-closet-right.png" alt="">
        </div>

        <!-- Steps: Form, ClosetsType, Measures -->
        <app-select-master-closet *ngIf="!isMasterSelected" (sendSetImage)="setImage($event)"></app-select-master-closet>
        <!-- Select module -->
        <app-steps-master-closet *ngIf="isMasterSelected"></app-steps-master-closet>      

        <app-button [type]="'next-step'" (click)="selectClosetAndContinue()" ></app-button>
        <div class="line-color"></div>
    </div>
    
</div>
