<div class="kitchen-bg">
    <div class="logo">
        <img src="/assets/img/kitchen/logo.png" alt="">
    </div>
    <div class="slogan">
        <div class="text">
            <span>Our goal</span>
            <span>is to make</span>
            <span>your</span>
            <span>vision reality</span>
        </div>
    </div>
    <div class="main">
        <img src="/assets/img/kitchen/bg.png" alt="">
    </div>

    <div class="copyright">
        <img src="/assets/img/kitchen/copyright.png" alt="">
    </div>
</div>