<div class="starting-closet">
    
    <app-modal type="closets" *ngIf="projectModal"></app-modal>
    <app-modal type="closets-video" (sendClose)="openProjectModal()"></app-modal>
    <app-nav-header [config]="configNav" type="web" (sendViewNav)="openMenu()"></app-nav-header>
    <app-navbar2 [items]="itemsNav" [left]="navLeft" [showNavbar]="activeSidenav" (sendShowNavbar)="setSideNav($event)"></app-navbar2>
    
    <!-- left column whith text image and button -->
    <div class="container-starting">
        <div class="left">
            <img class="starting" [src]="src" alt="">
            <p>If you need help with your room, you must<br>upload an image or sketch file to visualize it</p>
            <div class="image">
                <img [src]="srcForm" alt="">
                <p class="title">{{title}}</p>
            </div>
        </div>

        <div class="right">
            <div class="steps">
                <img [src]="srcSteps" alt="">
            </div>

            <!-- Steps: Form, ClosetsType, Measures -->
            <app-steps-starting-closet *ngIf="!isModuleSelected" (srcNoImage)="typeSelected($event)"></app-steps-starting-closet>
            <!-- Select module -->
            <app-select-module *ngIf="isModuleSelected"></app-select-module>
        </div>
    </div>
</div>