.container-starting {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    margin-top: 2rem;
}

.container-starting .left {
    width: 45%;
}

.container-starting .left img {
    width: 60%;
    margin-left: 2rem;
}

.container-starting .left p {
    margin-top: 2rem;
    margin-left: 2rem;
}

.container-starting .right {
    width: 65%;
}

.right {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
}


/* -----------------START SHAPE-OPTIONS----------------------- */

.single {
    margin-left: 40px;
    margin-right: 5px;
    width: 20px;
    height: 50px;
    border-left: 10px solid var(--k-green-op);
}

.doble {
    margin-left: 25px;
    width: 20px;
    height: 50px;
    border-left: 10px solid var(--k-green-op);
    border-right: 10px solid var(--k-green-op);
}

.lshaped {
    margin-left: 20px;
    margin-right: 0px;
    height: 50px;
    border-left: 10px solid var(--k-green-op);
}

.lshaped-2 {
    width: 35px;
    height: 40px;
    border-bottom: 10px solid var(--k-green-op);
}

.ushaped {
    margin-left: 30px;
    margin-right: 0px;
    height: 50px;
    border-left: 10px solid var(--k-green-op);
}

.ushaped-2 {
    width: 35px;
    height: 40px;
    border-bottom: 10px solid var(--k-green-op);
}

.ushaped-3 {
    margin-right: 0px;
    height: 50px;
    border-left: 10px solid var(--k-green-op);
}

.custom {
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 50px;
    border-right: 10px solid var(--k-green-op);
}

.custom-2 {
    width: 15px;
    height: 20px;
    border-top: 10px solid var(--k-green-op);
}

.custom-3 {
    margin-right: 0px;
    height: 50px;
    border-left: 10px solid var(--k-green-op);
}

.island {
    margin-left: 1px;
    width: 45px;
    height: 35px;
    border-bottom: 15px solid var(--k-green-op);
}

.plast {
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    color: var(--k-green-op);
}

.formas {
    display: contents;
}


/* -----------------END SHAPE-OPTIONS----------------------- */