<div class="starting-closet">
    <app-nav-header type="web" (sendViewNav)="openMenu()"></app-nav-header>
    <app-navbar2 [items]="itemsNav" [left]="navLeft" [showNavbar]="activeSidenav" (sendShowNavbar)="setSideNav($event)"></app-navbar2>

    <div class="container-starting">
        <div class="left">
            <img [src]="src" alt="">
            <p>If you need help with your room, you must<br>upload an image or sketch file to visualize it</p>
            <div class="image">
                <img [src]="srcNoImage" alt="">
            </div>
            <app-button></app-button>
        </div>

        <div class="right">
            <div class="steps">
                <img [src]="srcSteps" alt="">
            </div>
            <div class="step-form-1">
                <h2 class="title">Step 1 Form</h2>
                <p class="description">Select the form that you prefer</p>
                <div class="options">
                    <!-- -----------------START SHAPE-OPTIONS-----------------------  -->
                    <div class="single"></div>
                    <div class="doble"></div>
                    <div class="lshaped"></div>
                    <div class="lshaped-2"></div>
                    <div class="ushaped"></div>
                    <div class="ushaped-2"></div>
                    <div class="ushaped-3"></div>
                    <div class="custom"></div>
                    <div class="custom-2"></div>
                    <div class="custom-3"></div>
                    <!-- -----------------END SHAPE-OPTIONS-----------------------  -->
                </div>

            </div>
            <div class="step-form-2">
                <h2 class="title">Step 2 Closets Type</h2>
                <p class="description">Select closets type</p>
                <div class="options">

                </div>
            </div>
            <div class="step-form-3">
                <h2 class="title">Step 3 Measures</h2>
                <p class="description">Enter measuresments and select the modules</p>
                <div class="options">

                </div>
            </div>
            <app-button></app-button>
        </div>

    </div>
</div>