@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
/* START LUXURY KITCKEN */
.wrapper {
    width: 100%;
}

.wrapper .modal_box {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.wrapper .modal_box .modal_bg_shadow {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper .modal_box .modal_box_wrap {
    background: rgb(141, 140, 140);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    border-radius: 5px;
    width: 350px;
    height: 400px;
    padding: 30px;
    z-index: 3;
}

.wrapper .modal_box .modal_box_wrap .modal_header {
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .modal_box .modal_box_wrap .modal_body {
    padding: 15px 20px;
    line-height: 21px;
    height: 140px;
}

.wrapper .modal_box .modal_box_wrap .modal_footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .modal_box.active {
    display: block;
}

.container {
    background-color: white;
    height: 100%;
}

.wrapper .modal_box .modal_box_wrap .container .modal_header h1 {
    font-size: 25px;
    color: rgb(97, 97, 97);
}

p {
    font-size: 20px;
    color: rgb(78, 78, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 20px;
    text-align: justify;
}
/* END LUXURY KITCKEN */



/* START VIDEO */
.wrapper .modal_box .modal_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 5px;
    width: 55vw;
    height: 45vh;
    z-index: 3;
}
.wrapper .modal_box  .header_video {
    height: 15%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--k-green-op);
}
.wrapper .modal_box .modal_video .footer_video {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(247, 245, 245); 
}
.wrapper .modal_box.active {
    display: block;
}
.container_video {
    background-color: var(--k-white);
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_video p {
    color: var(--green);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: center;
}
.wrapper .modal_box .header_video h1 {
}

/* END VIDEO */


/* START CLOSETS */
 .wrapper-closets {
    width: 100%;
}

.wrapper-closets .modal_box_closets {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.wrapper-closets .modal_box_closets .modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.wrapper-closets .modal_box_closets .modal_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 5px;
    width: 50vw;
    height: 50vh;
    z-index: 3;
}

.wrapper-closets .modal_box_closets .modal_wrap .header {
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid #e0e0e0;
    height: 70px;
    width: 40vw;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--k-green-op);
}

.wrapper-closets .modal_box_closets .modal_wrap .modal_body {
    padding: 15px 20px;
    line-height: 21px;
    height: 140px;
}

.wrapper-closets .modal_box_closets .modal_wrap .footer {
    padding: 20px;
    display: flex;
    height: 300px;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(247, 245, 245); 
}
.wrapper-closets .modal_box_closets .modal_wrap .footer P {
    margin-top: 1rem;
    font-size: small;
}

.wrapper-closets .modal_box_closets.active {
    display: block;
}

.container {
    background-color: white;
    height: 100%;
}

h1 {
    font-size: 25px;
    color: white;
}

p {
    font-size: 20px;
    color: rgb(78, 78, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 20px;
    text-align: justify;
} 
/* END CLOSETS */

