<main>
    <app-kitchensidebar></app-kitchensidebar>

    <section>
        <div class="header">
            <div class="logo-container web">
                <div class="img">
                    <img src="/assets/img/kitchen/logogreen.png" alt="">
                </div>
            </div>
            <div class="title">
                Finishes
            </div>
        </div>

        <article>
            <div class="filters">
                <div class="filter" *ngFor="let filter of filters">
                    <div class="title" [ngClass]="{'selected':filter.selected}">
                        <p (click)="selectFilter(filter, !filter.selected)">
                            {{filter.title}} </p> 

                        <i class="fas fa-minus web" *ngIf="filter.selected"
                        (click)="selectFilter(filter, false)"></i>
                        <i class="fas fa-plus web" *ngIf="!filter.selected"
                        (click)="selectFilter(filter, true)"></i>
                    </div>
                    <div class="options" *ngIf="filter.selected">
                        <div class="option"
                        [ngClass]="{'selected':option.selected}"
                        *ngFor="let option of filter.filters"
                        (click)="applyFilter(option, option.type)">
                            {{option.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="details">
                <div class="sections web">
                    <div class="detail" *ngFor="let active of activeFilters;let index = index">
                        <div class="title" [ngClass]="{'middle': filterSelected == active.name}">
                            {{active.name}}
                        </div>
                        <div class="palettes" *ngFor="let palette of active.finishes">
                            <div class="palette" *ngIf="!finishSelected"
                            (click)="selectPalettes(palette)">
                                <div class="img">
                                    <img [src]="url+palette.image" alt="">
                                </div>
                                <p class="name">{{palette.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sections mobile">
                    <div class="detail">
                        <div class="title">
                            {{mobileFilter.name}}
                        </div>
                        <div class="palettes" *ngFor="let palette of mobileFilter.finishes">
                            <div class="palette" *ngIf="!finishSelected"
                            (click)="selectPalettes(palette)">
                                <div class="img">
                                    <img [src]="url+palette.image" alt="">
                                </div>
                                <p class="name">{{palette.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="unique-detail" *ngIf="finishSelected">
                    <div class="close">
                        <i class="fas fa-times"
                        (click)="finishSelected = ''"></i>
                    </div>
                    <div class="header">
                        <div class="title-section">
                            <div class="unique-title">
                                {{finishSelected.name}}
                            </div>
                            <div class="code">
                                Code # {{finishSelected.code}}
                            </div>
                        </div>
                        <div class="fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>

                    <div class="collections">
                        <p class="title"
                        *ngIf="finishSelected.collections.length>0">Collection available in this color</p>
                        <p class="title" *ngIf="finishSelected.collections.length<1">
                            No collections in this color
                        </p>
                        <swiper
                        class="mySwiper web"
                        [config]="config"
                        >
                        <ng-template class="img"
                        swiperSlide *ngFor="let img of finishSelected.collections">
                            <img [src]="url+img.image" alt="">
                            <p class="name-collection">
                                {{img.name}}
                            </p>
                        </ng-template>
                        </swiper>

                        <div class="imgs mobile">
                            <div class="img" *ngFor="let img of finishSelected.collections">
                                <img [src]="url+img.image" alt="">
                                <p class="name-collection">
                                    {{img.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>