<div class="closets-walk-in">
    <app-nav-header type="web" (sendViewNav)="activeMenu()"></app-nav-header>
    <!-- <app-navbar [hideSidebar]="true" [sidenav]="activeSidenav" [navUp]="true" [items]="itemsNav.items" [actions]="itemsNav.actions" [secondItems]="itemsNav.secondItems"></app-navbar> -->
    <div class="container-grid">
        <app-card *ngFor="let item of walkInImages" [routerLink]="['/closets/collection',item.id]" [source]="item.src" [class]="item.class"></app-card>
    </div>
</div>