<div class="closets-walk-in">
    <app-nav-header type="web" (sendViewNav)="activeMenu()"></app-nav-header>
    <app-navbar [hideSidebar]="true" [sidenav]="activeSidenav" [navUp]="true" [items]="items" [actions]="actions" [secondItems]="secondItems"></app-navbar>
    <div class="container-grid" (click)="closeMenu()">
        <app-card source="/assets/img/closets/Preview1x.jpg" class="item-grid-1"></app-card>
        <app-card source="/assets/img/closets/Preview2x.jpg" class="item-grid-2"></app-card>
        <app-card source="/assets/img/closets/Preview3x.jpg" class="item-grid-3"></app-card>
        <app-card source="/assets/img/closets/Preview4x.jpg" class="item-grid-4"></app-card>
        <app-card source="/assets/img/closets/Preview6x.jpg" class="item-grid-6"></app-card>
        <app-card source="/assets/img/closets/Preview5x.jpg" class="item-grid-5"></app-card>
    </div>
</div>