.closets-walk-in {
    overflow: hidden;
}

.container-grid {
    display: grid;
    grid-template-columns: 15% 23.3% 15% 20% 23.3%;
    gap: .3rem;
    padding: 2px;
    height: calc(100vh - 120px);
    margin: 0;
}

.text {
    background-color: #8d897f;
    color: white;
    font-size: 46px;
    padding: 16px 32px;
}

.item-grid-1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-grid-2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-grid-3 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-grid-4 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-grid-5 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-grid-6 {
    grid-row-start: 1;
    grid-row-end: 3;
}