/* START HEART LK */
.heart-select {
    background-color: #d6d6d6;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
}

.like {
    color: gray;
}

.love {
    color: red;
}
/* END HEART LK */

/* START HEART CLOSETS */
.heart-select-closets {
    background-color: var(--k-green-op);
    text-decoration: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    color: white;

    position: absolute;
    background: var(--black-op);
    opacity: .3;
    bottom: -3vh;
    z-index: 2;
    padding: 0.4rem;
    width: 53vw;
    height: 4vh;
    right: -36px;
    display: flex;
    align-content: end;
    flex-direction: row;
    justify-content: flex-end;
}
.heart-select-closets i{
    margin-right: 25px;
}
.like {
    color: gray;
}
.love {
    color: red;
}
/* END HEART CLOSETS */