<div class="closets-index">
    <app-nav-header type="web" (sendViewNav)="openMenu()"></app-nav-header>
    <!-- <app-navbar (sendSideNav)="setSideNav($event)" [hideSidebar]="true" [sidenav]="activeSidenav" [navUp]="true" [items]="itemsNav.items" [actions]="itemsNav.actions" [secondItems]="itemsNav.secondItems"></app-navbar> -->
    <app-navbar2 [items]="itemsNav" [left]="navLeft" [showNavbar]="activeSidenav" (sendShowNavbar)="setSideNav($event)"></app-navbar2>
    <div class="img-container">
        <img src="/assets/img/closets/main.jpg" alt="">
    </div>
</div>