<app-header></app-header>

<main>
    <header>
        <h1>ESTIMATE APPROVAL</h1>
        <div class="buttons">
            <a routerLink="/estimates"><i class="fas fa-chevron-left"></i></a>
            <a routerLink="">SAVE</a>
            <a routerLink="">PRINT DOCUMENT</a>
            <a routerLink="">ACCEPT</a>
            <a routerLink="">REJECT</a>
        </div>
    </header>

    <section>
        <div class="img">
            <img src="/assets/img/kitchen/media/imggetstarted.png" alt="">
        </div>
        <div class="title">
            <p>ARCH. JAY GARRICK - JSA Manufactured</p>
            <p>JSA MANUFACTURED - www.garrdesign.com / jay@gmail.com / 084 335 8675</p>
        </div>
    </section>

    <article>
        <div class="header">
            <h1 class="title">
                ESTIMATE 0938
            </h1>
            <div class="details">
                <div class="titles">
                    <p>ESTIMATE DATE</p>
                    <p>50% DEPOSIT REQUIRED</p>
                </div>
                <div class="data">
                    <p>07/09/2021</p>
                    <p>{{21578 | currency}}</p>
                </div>
            </div>
        </div>

        <div class="info">
            <div class="name">
                <p>LAUREL DINA LANCE</p>
            </div>

            <div class="other-info">
                <div class="container">
                    <div>
                        <h4>BILLING ADDRESS</h4>
                        <p>2387 Wolnut St. Philadelphia, PA 19106</p>
                    </div>
                    <div>
                        <h4>EMAIL</h4>
                        <p>dina98@gmail.com</p>
                    </div>
                    <div>
                        <h4>PHONE</h4>
                        <p>(215) 450 2345</p>
                    </div>
                </div>
                <div class="container">
                    <div>
                        <h4>DELIVERY ADDRESS</h4>
                        <p>2387 Wolnut St. Philadelphia, PA 19106</p>
                    </div>
                    <div>
                        <h4>EMAIL</h4>
                        <p>dina98@gmail.com</p>
                    </div>
                    <div>
                        <h4>PHONE</h4>
                        <p>(215) 450 2345</p>
                    </div>
                </div>
            </div>
        </div>

        <table>
            <thead>
                <th class="long">ITEM DESCRIPTION</th>
                <th>QTY</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>

            </tbody>
        </table>

        <table>
            <thead>
                <th class="long">SERVICE DESCRIPTION</th>
                <th>QTY</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>2</td>
                    <td>{{21500 | currency}}</td>
                    <td>{{21500*2 | currency}}</td>
                </tr>
                
            </tbody>
        </table>
    </article>
</main>