<div class="container-your-closets">
    <h2>YOUR CLOSETS </h2>
  

    <div>
        <div class="container">
            <h2>> WALL A:<P> Walk-in + Sliding Wardrobe 150"</P></h2>
            
            <div *ngFor="let image of images" [ngStyle]="{'display': image.show ? 'block' : 'none'}">
                <img [src]="image.src" alt="">
            </div>
            <div class="dropdown">
                <button class="dropbtn">+</button>
                <div  class="dropdown-content">
                    <a *ngFor="let image of images" (mouseover)="image.show=true" (mouseout)="image.show=false" href="#">{{image.buttonText}}</a>
                    <a href="#">WARDROBE</a>
                </div>
            </div>
        </div>
        <hr>
        <P>Total width of closets modules 0"</P>
    </div>
   
    <div>
        <div class="container">
            <h2>> WALL B:<P> Walk-in + Hinged Wardrobe 92"</P></h2>
            <i class="fa fa-plus"></i>
        </div>
        <hr>
        <P>Total width of closets modules 0"</P>
    </div>

    <div>
        <div class="container">
            <h2>> WALL C:<P> Walk-in Closets 92"</P></h2>
            <i class="fa fa-plus"></i>
        </div>
        <hr>
        <P>Total width of closets modules 0"</P>
    </div>

    <div>
        <div class="container">
            <h2>> Island side 1</h2>
            <i class="fa fa-plus"></i>
        </div>
        <hr>
        <P>Total width of side 46"</P>
    </div>

    <div>
        <div class="container">
            <h2>> Island side 2</h2>
            <i class="fa fa-plus"></i>
        </div>
        <hr>
        <P>Total width of side 46"</P>
    </div>
</div>