main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0 0;
}
.mobile{
    display: none !important;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 96%;
}
section .header{
    width: 85%;
    display: flex;
    flex-direction: column;
}
section .logo-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
section .header .title{
    font-size: 2.4em;
    color: var(--k-green-op);
    border-top: 1px solid var(--k-green-op);
    width: 60%;
    text-align: right;
    align-self: flex-end;
    transform: translateY(-1rem);
}

article{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: flex-start;
}
.filters{
    background: var(--k-white);
    width: 40%;
}
.filter .title{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background: var(--light);
    margin: .2rem;
    padding: .2rem;
    border-radius: 5px;
}
.filter .title i{
    cursor: pointer;
    margin-left: .4rem;
}
.filter .title.selected{
    font-weight: bold;
    color: var(--k-green-op);
    background: var(--k-white);
    border:none;
}
.filter .options{
    padding-left: .8rem;
    color: var(--k-green-op);
}
.filter .option{
    cursor: pointer;
    padding: .2rem;
    transition: all.2s;
}
.filter .option.selected{
    background: var(--light);
    color: var(--green-op);
    font-weight: bold;
}

.details{
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.details .img{
    width: 45%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.details .img .favs{
    position: absolute;
    bottom: .4rem;
    padding: .4rem;
    background: var(--k-white);
    width: 95%;

}
.details .img .favs .fav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details .img .favs .fav .title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.details .img .favs .fav .title span{
    font-weight: bold;
}
.details .img .favs i{
    cursor: pointer;
    font-size: 1.5em;
}


.details .info{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1rem;
}
.details .info .head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--grey);
    color: var(--k-green-op);

}
.details .info .head .titles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.details .info .head .titles p{
    width: 50%;
    text-align: center;
    font-weight: bold;
    padding: .2rem;
    font-size: .8em;

}
.details .info .head .titles p.not-selected{
    font-weight: normal;
    cursor: pointer;
    background: var(--light);
}
.details .info .head .info{
    width: 80%;
    padding-bottom: .2rem;
    padding-top: .2rem;
    font-size: .8em;
}
.details .cart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .4rem 0;
}
.details .cart .selects{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details .cart .selects select{
    width: 100%;
    margin: .4rem 0;
}
.details .cart .selects .quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.details .cart .selects .quantity .calc{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details .cart .selects .quantity .calc i{
    border: 1px solid var(--k-green-op);
    margin: .2rem;
    padding: .2rem .8rem;
    cursor: pointer;
}
.details .cart .selects .quantity .calc p{
    color:var(--k-green-op);
    font-weight: bold;
    background: var(--grey);
    width: 40%;
    text-align: center;
}
.details .cart .price{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 40%;
}
.details .cart .price .cost{
    font-weight: bold;
    border: 1px solid black;
    font-size: 2.5em;
    width: 95%;
    text-align:center;
    white-space: nowrap;
    overflow-x: hidden;
}
.details .cart .price .add-to{
    width: 95%;
    text-align:center;
    border: 1px solid black;
    margin-top: .4rem;
    transition: all.2s;
    cursor: pointer;
}
.details .cart .price .add-to:hover{
    background: var(--k-green-op);
    color: var(--light);
}
.details .cart .related{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.details .cart .related .colors{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap ;
    flex-direction: column;
}
.details .cart .related .colors .img{
    width: 8vh;
    height: 8vh;
    background: var(--grey);
    cursor: pointer;
    border: 4px solid var(--light);
    margin: .4rem;
}
.details .cart .related .colors .img.selected{
    border: 4px solid var(--green-op);
}
.related .info{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.related .info .product{
    height: 18vh;
    background: var(--green-op);
    position: relative;
}

.related .info .product .name{
    position: absolute;
    background: var(--k-white);
    font-size: .6em;
    width: 100%;
    font-weight: bold;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    transition: all.2s;
}
.related .info .product .from-to{
    display: none;
}
.related .info .product:hover .name{
    height: 170%;
    overflow: hidden;
}
.related .info .product:hover .from-to{
    display: block;
    font-size: .8em;
}
::ng-deep .swiper{
    width: 100%;
}
::ng-deep .mySwiper{
    width: 100%;
}
::ng-deep .mySwiper .swiper-slide{
    opacity: 1;
    transform: scale(1);
}
.images{
    width: 92%;
}
::ng-deep .swiper-slide.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh !important;
    cursor: pointer;
    z-index: 999;
}


@media (max-width:400px){
    .web{
        display: none !important;
    }
    .mobile{
        display: flex !important;
    }
    section{
        width: 100%;
    }
    section .header{
        width: 100%;
        margin-top: 8vh;
    }
    section .header .title{
        padding-right: 1rem;
        border-top: 0;
        width: 100%;
        font-size: 1.4em;
    }
    article{
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
    }
    .filters{
        width: 100%;
        background: var(--light);
        margin-bottom: 2rem;
    }
    .filter{
        background: var(--grey);

    }
    .filter .title{
        padding: .4rem;
        border: none;
        background: var(--light);
        margin: .4rem 0 0 0 ;
    }
    .filter .title.selected{
        background: var(--grey);
    }
    .filter .title i{
        padding-right: 1rem;
    }
    .filter .options{
        background: var(--grey);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .filter .option{
        background: var(--light);
        width: 90%;
        margin: .4rem 0;
        padding: .4rem;
    }
    .details{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .details .img{
        width: 95%;
        margin-bottom: 2rem;
    }
    .details .img .favs{
        bottom: 0;
        width: 98%;
    }
    .details .info{
        width: 95%;
        align-items: center;
        padding: 0;
    }
    .details .info .head .titles p{
        font-size: 1em;
    }
    .details .info .head .info{
        font-size: .8em;
    }

    .details .cart{
        flex-direction: column;
    }
    .details .cart .selects,
    .details .cart .price,
    .details .cart .price .add-to{
        width: 100%;
        margin-top: .4rem;
        align-items: center;
    }
    .details .cart .price .cost{
        width: 100%;
    }
    .details .cart .selects select{
        font-size: 1.2em;
    }
    .details .cart .selects .quantity{
        font-size: 1.2em;
    }
    .details .cart .selects .quantity .calc{
        justify-content: flex-end;
    }
    .details .cart .price .add-to{
        font-size: 1.2em;
        background: var(--grey);
        border: none;
        padding: .4rem;
    }
    .details .cart .related{
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .details .info .info{
        margin-top: 2rem;
        font-size: 1.2em;
    }
}