<main>
    <app-navbar></app-navbar>

    <section>
        <div class="header">
            <div class="logo-container web">
                <a class="img" routerLink="/luxurykitchen">
                    <img src="/assets/img/kitchen/logogreen.png" alt="">
                </a>
            </div>
            <div class="title">
                Additional options
            </div>
        </div>

        <article>
            <div class="filters">
                <div class="filter" *ngFor="let filter of filters">
                    <!-- Title of the filters -->
                    <div class="title" [ngClass]="{'selected':filter.selected}">
                        <p (click)="selectFilter(filter, !filter.selected)"> {{filter.name}}</p>
                        <i class="fas fa-minus" *ngIf="filter.selected" (click)="selectFilter(filter, false)"></i>
                        <i class="fas fa-plus" *ngIf="!filter.selected" (click)="selectFilter(filter, true)"></i>
                    </div>

                    <!-- Subcategories of the filters -->
                    <div class="options" *ngIf="filter.selected">
                        <div class="option" [ngClass]="{'selected':activeFilter == option}" *ngFor="let option of filter.subcategorys" (click)="applySubcategory(option)">
                            {{option.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="details">
                <div class="img">
                    <!-- principal swiper show big-img  -->
                    <swiper [config]="config3">
                        <ng-template swiperSlide *ngFor="let item of additionalImages">
                            <img [src]="url+item.name" alt="">
                        </ng-template>
                    </swiper>

                    <div class="favs" *ngIf="additionalTypes[1],name">
                        <div class="fav">
                            <div class="title">
                                <span>{{additionalTypes[1].name}}</span> FROM $000 TO $5000
                            </div>
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>

                <div class="info">

                    <!-- Head Info -->
                    <div class="head">
                        <div class="titles">
                            <p (click)="info.details.show = true;info.technicalInfo.show = false" [ngClass]="{'not-selected':!info.details.show}">DETAILS</p>
                            <p (click)="info.technicalInfo.show = true;info.details.show = false" [ngClass]="{'not-selected':!info.technicalInfo.show}">TECHNICAL FILES</p>
                        </div>
                        <div class="info" *ngIf="info.details.show">
                            {{info.details.text}}
                        </div>
                        <div class="info" *ngIf="info.technicalInfo.show">
                            {{info.technicalInfo.text}}
                        </div>
                        <div class="down" *ngIf="info.technicalInfo.show">
                            <h6>Download Documentation</h6>
                        </div>
                    </div>

                    <!-- End Head Info -->


                    <div class="cart">
                        <div class="selects">
                            <!-- Size and Type -->
                            <select name="" [(ngModel)]="selected.type" (change)="updatePrice()">
                                <option value="{{type.id}}" *ngFor="let type of additionalTypes">
                                    {{type.name}}
                                </option>
                            </select>
                            <select name="" [(ngModel)]="selected.size" (change)="updatePrice()">
                                <option value="{{size.id}}" *ngFor="let size of additionalSizes">
                                    {{size.name}}
                                </option>
                            </select>
                            <!-- End Size and Type -->

                            <div class="quantity">
                                <p>QUANTITY</p>
                                <div class="calc">
                                    <i class="fas fa-minus" (click)="quantity>1?quantity = quantity -1:''"></i>
                                    <p>{{quantity}}</p>
                                    <i class="fas fa-plus" (click)="quantity = quantity +1"></i>
                                </div>
                                <p class="unit">Unit</p>
                            </div>
                        </div>

                        <div class="price">
                            <div class="cost">
                                $ {{additionalPrice*quantity}}
                            </div>
                            <div class="add-to">
                                ADD TO CART
                            </div>
                        </div>

                        <div class="related">
                            <div class="colors web">
                                <div class="img" [ngClass]="{'selected':selected.color == color.name}" (click)="updateColor(color)" *ngFor="let color of additionalColors">
                                    <img [src]="url+color.colorImage" alt="">
                                </div>
                            </div>
                            <div class="info">
                                RELATED PRODUCTS
                                <swiper [config]="config2">
                                    <!-- rigth small swiper show two colums-->
                                    <ng-template swiperSlide *ngFor="let option of subCategorys">
                                        <div class="product">
                                            <div class="img"></div>
                                            <div class="name">
                                                <p>Antaro Baskets</p>
                                                <div class="from-to">FROM $000 TO $500</div>
                                            </div>
                                        </div>
                                    </ng-template>

                                </swiper>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="images web">
                    <!-- Inferior big swiper show five img -->
                    <swiper class="subcategory" [config]="config">
                        <ng-template swiperSlide *ngFor="let cat of subcategoryAdditional" class="img">
                            <img style="height: 100%; margin-left: 1rem;" (click)="applyAdditional(cat.id)" [src]="(cat.image)?url+cat.image:urlNoImage">
                        </ng-template>

                    </swiper>
                </div>

            </div>

        </article>
    </section>
</main>