<button *ngIf="type === 'border'" [class]="type">{{text}}</button>

<button *ngIf="type === 'login'" [class]="type">{{text}} <span>{{link}}</span></button>

<button *ngIf="type === 'download'" class="download">
    <i class="fas fa-{{icon}}"></i>{{text}}
</button>

<button *ngIf="type === 'start'" [class]="type">{{text}}</button>

<button *ngIf="type === 'next'" [class]="type">{{"Generate Floor Plan"}}</button>

<button *ngIf="type === 'next-step'" [class]="type">{{"NEXT"}}</button>

<div *ngIf="type === 'mobile-up'" [class]="type">
    <i class="fas fa-angle-up"></i>
</div>

<button *ngIf="type === 'new-project'" [class]="type">{{text}}</button>

<button *ngIf="type === 'existing-project'" [class]="type">{{text}}</button>

<button *ngIf="type === 'start-video'" [class]="type">{{text}}</button>