.container-starting {
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 1rem 0 1rem;
}

.container-starting .right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-starting .left{
    width: 40%;
    color: var(--k-green-op);
}

.container-starting .left h1{
    font-size: 28px;
}

.container-starting .left img {
    width: 55%;
    margin-left: -1rem;
}

/* Starting-closet */
.form-page .right {
    justify-content: flex-start;
    width: 65%;
}

.shapes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #B7B7B7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle.active {
    border-color: #606048;
}

.container {
    position: relative;
}

.description {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    font-size: 15px;
    color: #B7B7B7;
}

.description.active {
    color: #606048;
}

.line {
    height: 5px;
    width: 50px;
    background-color: #B7B7B7;
}

.line.active {
    background-color: #606048;
}

.container-starting.text-small .left h1{
    font-size: 22px;
}
.container-starting.text-small .left p{
    font-size: 12px;
}