form{
    background-color: #2f2f2fdc;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 14vh;
    width: 30vw;
    color: var(--white);
    height: 99vh;
}
form .close{
    position: absolute;
    right: .2rem;
    top: .2rem;
    cursor: pointer;
}
form .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    width: 80%;
    margin-top: 3rem;
}
form .forgot-group{
    margin-top: 8rem;
}
form .form-group label{
    padding-bottom: .2rem;
}
form .form-group input{
    outline: none;
    border: none;
    background-color: var(--brown);
    width: 100%;
    padding: .6rem;
    color: var(--white);
}
form .btn{
    font-size: 1.2em;
    width: 40%;
    margin: 1.8em;
}
form .login{
    margin-bottom: 0px;
}
form .small{
    margin-bottom: 1.8rem;
}
form .text-error{
    margin-bottom: 0rem;
}
form .success-text{
    margin-bottom: .6rem;
    color: var(--green);
}
form .error-text{
    margin-bottom: .6rem;
    color: var(--danger);
}
form .f-img{
    width:10%;
    margin: 1rem;
}
form .forgot-btn{
    margin-top: 4rem;
}