<app-header></app-header>


<main>
    <section class="container">
        <header>
            <div class="img">
                <img src="/assets/img/kitchen/media/imggetstarted.png" alt="">
            </div>
            <div class="buttons">
                <div class="info">
                    <p>Arch. Jay Garrick</p>
                    <p>jay@gmail.com</p>
                    <p>084-338-3676</p>
                    <p>Designer</p>
                </div>
                <a routerLink="/estimates" class="back"><i class="fa-solid fa-chevron-left"></i></a>
                <a href=""><i class="fa-solid fa-floppy-disk"></i></a>
                <a>Preview</a>
                <a>Generate Order</a>
                <a>Receipt order</a>
                <a>Send by email</a>
            </div>
            <div class="select">
                <select name="">
                    <option value="">Big bath</option>
                </select>
            </div>
        </header>

        <article>
            <section>
                <div class="name">
                    Laurel Dina Lance
                </div>
                <div class="data">
                    <div class="billing">
                        <h4>Billing Address</h4>
                        <p>2387 Walnut St</p>
                        <p>Philadelphia, PA 19106</p>
                        <p>Email: <span>dina69@gmail.com</span></p>
                        <p>Phone: <span>(215) 450 2345</span></p>
                    </div>
                    <div class="shipping">
                        <h4>Shipping Address</h4>
                        <p>2387 Walnut St</p>
                        <p>Philadelphia, PA 19106</p>
                        <p>Email: <span>dina69@gmail.com</span></p>
                        <p>Phone: <span>(215) 450 2345</span></p>
                    </div>
                    <div class="price">
                        <h4>Invoice total: <span>{{35000 | currency}}</span></h4>
                        <h4>Display EIN Number: <input type="checkbox"></h4>
                    </div>
                </div>
            </section>

            <section class="estimate">
                <div class="title"><p>INVOICE: <span>00005</span></p></div>
                <div class="other">INVOICE DATE<span>11/23/2021</span></div>
                <div class="other">DUE DATE<span>11/23/2021</span></div>
                <div class="other">
                    <select name="">
                        <option value="50">TERMS</option>
                        <option value="100">DUE ON RECEIPT</option>
                        <option value="100">PAYMENT IN 15 DAYS</option>
                        <option value="100">PAYMENT IN 30 DAYS</option>
                    </select>
                </div>
            </section>
        </article>


        <table>
            <thead class="checkboxes">
                <th class="th-black print"><i class="fas fa-print"></i></th>
                <th class="th-black"><input type="checkbox"></th>
                <th class="long"></th>
                <th class="small"></th>
                <th></th>
                <th></th>
                <th class="small"></th>
                <th class="th-black small"><input type="checkbox"></th>
                <th class="th-black"><input type="checkbox"></th>
                <th class="th-black small"><input type="checkbox"></th>  
                <th class="th-black"><input type="checkbox"></th>  
                <th class="th-black long"><input type="checkbox"></th>  
            </thead>
            <thead class="border-thead">
                <th>ITEM CATEGORY</th>
                <th class="th-black">ITEM NUMBER</th>
                <th class="long">ITEM DESCRIPTION</th>
                <th class="small">QTY</th>
                <!-- <th>TYPE</th> -->
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>
                <th class="small">TAXES</th>
                <!-- <th class="th-black">INVOICE</th> -->
                <th class="th-black small">ORDER</th>
                <th class="th-black">VENDOR</th>
                <th class="th-black small">MARK UP</th>
                <th class="th-black">PROFIT</th>
                <th class="th-black long">NOTES</th>
            </thead>
            <tbody>
                <tr class="invoice-info">
                    <td>
                        <select name="category">
                            <option value="COUNTERTOPS">COUNTERTOPS</option>
                            <option value="KITCHEN">KITCHEN</option>
                            <option value="BATHROOMS">BATHROOMS</option>
                        </select>
                        <span class="additional">a</span>
                    </td>
                    <td><input type="text" placeholder="Item number"><span class="additional">a</span></td>
                    <td class="long">{{'Moka tall cabinet 185x60'}}</td>
                    <td class="small"><input type="number" placeholder="Quantity"><span class="additional">a</span></td>
                    <td>{{1915.20 | currency}}</td>
                    <td>{{1915.20*2 | currency}}</td>
                    <td class="small"><input type="checkbox"><span class="additional">a</span></td>
                    <td class="small"><input type="checkbox"><span class="additional">a</span></td>
                    <td>{{'Casalux'}}</td>
                    <td class="small">{{'25%'}}</td>
                    <td>{{312 | currency}}</td>
                    <td class="long"><input type="text" placeholder="Add notes..."><span class="additional">a</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="long">SUBTOTAL</td>
                    <td class="small"></td>
                    <td></td>
                    <td>{{1930 * 2 | currency}}</td>
                    <td class="small"></td>
                    <td class="small">{{1930 * 2 | currency}}</td>
                    <td></td>
                    <td class="small"></td>
                    <td>{{312 | currency}}</td>
                    <td class="long"></td>
                </tr>
            </tbody>
        </table>


        <table>
            <thead class="checkboxes">
            </thead>
            <thead class="border-thead">
                <th class="long">SERVICES</th>
                <th class="small">QTY</th>
                <!-- <th>TYPE</th> -->
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>
                <th class="small">TAXES</th>
                <!-- <th class="th-black">INVOICE</th> -->
                <th class="th-black small">ORDER</th>
                <th class="th-black">VENDOR</th>
                <th class="th-black small">MARK UP</th>
                <th class="th-black">PROFIT</th>
                <th class="th-black long">NOTES</th>
            </thead>
            <tbody>
                <tr class="invoice-info">
                    <td class="long">{{'Moka tall cabinet 185x60'}}</td>
                    <td class="small"><input type="number" placeholder="Quantity"><span class="additional">a</span></td>
                    <td>{{1915.20 | currency}}</td>
                    <td>{{1915.20*2 | currency}}</td>
                    <td class="small"><input type="checkbox"><span class="additional">a</span></td>
                    <td class="small"><input type="checkbox"><span class="additional">a</span></td>
                    <td>{{'Casalux'}}</td>
                    <td class="small">{{'25%'}}</td>
                    <td>{{312 | currency}}</td>
                    <td class="long"><input type="text" placeholder="Add notes..."><span class="additional">a</span></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>