<main>
    <app-kitchensidebar></app-kitchensidebar>


    <section>
        <div class="logo-container">
            <a class="img" routerLink="/luxurykitchen">
                <img src="/assets/img/kitchen/logogreen.png" alt="">
            </a>
        </div>


        <article class="container web">
            <div class="container-title mobile">
                <h3>COLLECTIONS</h3>
                <P>Enter the collection you like to see details</P>
            </div>
            <article class="img-options">
                <div class="option"
                *ngFor="let option of collections, let index = index"
                [ngClass]="{'selected':collectionSelected.name === option.name, 'no-selected':collectionSelected.name !== option.name}"
                (click)="changeSelectedCollection(index, true)">
                    <div class="img">
                        <img [src]="url+option.image" alt="">
                        <p class="title">{{option.name}}</p>
                    </div>
                </div>
            </article>
            
            <article class="option-viewer web">
                <div class="img-banner">
                    <img src="/assets/img/kitchen/media/banner.png" alt="">
                </div>
                
                <div class="swiper-container">
                    <swiper
                    class="mySwiper"
                    [config]="config"
                    (slideChange)="slideChange($event)"
                    >
                    <ng-template swiperSlide *ngFor="let img of collectionSelected.kitchens, let index = index">
                        <img *ngIf="img.photos?.length>0" [src]="url+img.photos[0].image" [id]="url+index" (click)="selectImages(index)">
                    </ng-template>
                    </swiper>
                </div>
                
                <swiper
                class="mySwiper2"
                [config]="config2"
                >
                <ng-template swiperSlide *ngFor="let img of imagesSelected">
                    <img [src]="url+img.image" alt="">
                </ng-template>
                </swiper>
                <app-favorite class="heart"></app-favorite>
            </article>
        </article>

        <article class="container mobile" *ngIf="!viewMobile">
            <div class="container-title mobile">
                <h3>COLLECTIONS</h3>
                <P>Enter the collection you like to see details</P>
            </div>
            <article class="img-options">
                <div class="option" *ngFor="let option of collections"
                (click)="changeSelectedCollection(option.collectionID, true)">
                    <div class="img">
                        <img [src]="url+option.collectionImgPpal" alt="">
                    </div>
                    <p class="title">{{option.collectionName}}</p>
                </div>
            </article>
            
            <article class="option-viewer web">
                <div class="swiper-container">
                    <swiper
                    class="mySwiper"
                    [config]="config"
                    >
                    <ng-template swiperSlide *ngFor="let img of collectionSelected.photos">
                        <img [src]="url+img.collectionImage" alt="">
                    </ng-template>
                    </swiper>

                </div>
                <swiper
                class="mySwiper2"
                [config]="config2"
                >
                <ng-template swiperSlide *ngFor="let img of imagesSelected">
                    <img [src]="url+img.image" alt="">
                </ng-template>
                </swiper>
            </article> 
        </article>


        <article class="option-details web">
           <i class="fas fa-times close mobile"></i>
            <p class="collections-title mobile">COLLECTIONS</p>
            <p class="details-title">{{collectionSelected.name}}</p>
            <hr style="width:100%;border:1px solid var(--k-green-op)">
            <div class="scroll">
                <p class="text" *ngIf="!seemore">
                    {{collectionSelected.description}}
                </p>
                <p class="section-text">What you have in this collection</p>

               <div class="three-images web" *ngIf="!seemore && collectionSelected.contents?.length>0">
                    <img [src]="url+collectionSelected.contents[0].image" alt="">
                </div>
            </div>
            <div class="collection-img-seemore" *ngIf="seemore">
                <div class="option" *ngFor="let option of collectionSelected.contents">
                    <div class="img">
                        <img [src]="url+option.image" alt="">
                    </div>
                    <p class="title">{{option.name}}</p>
                </div>
            </div>
            <div class="seemore" (click)="seeMore()">
                {{seemore?'See less':'See more'}}
            </div> 
        </article>

        <article class="option-details mobile" *ngIf="viewMobile">
            <i class="fas fa-times close mobile"
            (click)="viewMobile = false"></i>
            <p class="collections-title mobile">COLLECTIONS</p>
            <p class="details-title">{{collectionSelected.collectionName}}</p>
            <hr style="width:80%;border:1px solid var(--k-green-op)">
            <div class="scroll">
                <p class="text" *ngIf="!seemore">
                    {{collectionSelected.collectionDescription}}
                </p>
                <p class="section-text">What you have in this collection</p>

                <swiper
                class="mySwiper2 mobile"
                [config]="configMobile"
                >
                <ng-template swiperSlide *ngFor="let img of collectionSelected.photos">
                    <img [src]="url+img.collectionImage" alt="">
                    {{img}}
                </ng-template>
                </swiper>

                <swiper
                class="mySwiper2 mobile"
                [config]="configMobile"
                >
                <ng-template swiperSlide *ngFor="let img of collectionSelected.photos">
                    <img [src]="url+img.collectionImage" alt="">
                    {{img}}
                </ng-template>
                </swiper>

                <div class="three-images web" *ngIf="!seemore && collectionSelected.contents?.length>0">
                    <img [src]="url+collectionSelected.contents[0].image" alt="">
                </div>
            </div>
            <div class="collection-img-seemore" *ngIf="seemore">
                <div class="option" *ngFor="let option of collectionSelected.contents">
                    <div class="img">
                        <img [src]="url+option.image" alt="">
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>