main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0 0;
}

.mobile {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
    flex-direction: column;
    width: 98vw;
}

section .header {
    width: 90%;
    display: flex;
    flex-direction: column;
}

section .logo-container a {
    width: 22%;
}

section .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section .header .title {
    font-size: 2.4em;
    color: var(--k-green-op);
    border-top: 1px solid var(--k-green-op);
    width: 60%;
    text-align: right;
    align-self: flex-end;
    transform: translateY(-1rem);
}

article {
    width: 84vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 85vh;
}

.experts {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: var(--k-white);
    margin-left: .2rem;
    height: 85vh;
}

.experts .main-title {
    font-weight: bold;
    font-size: 2em;
    color: var(--k-green-op);
    height: 10vh;
}

.experts .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.experts .search .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 5vh;
}

.experts .search .input input {
    padding: .4rem;
    width: 70%;
    font-size: 1.2em;
}

.experts .search .input .icon {
    width: 30%;
    background: var(--green-op);
    padding: .75rem 0;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    transition: all.2s;
    cursor: pointer;
}

.experts .search .input .icon:hover {
    opacity: .7;
}

.experts .search .filter {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .8rem;
}

.experts .search .filter .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.experts .search .filter .filter-items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.experts .search .filter .filter-items .item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: .2rem;
    background: var(--k-white);
}

.experts .search .filter .filter-items .item label {
    margin-left: 1rem;
    font-size: .8em;
    cursor: pointer;
}

.experts .search .filter .filter-items .button {
    border: 1px solid var(--green-op);
    color: var(--green-op);
    padding: .4rem;
    width: 100%;
    font-size: .8em;
    text-align: center;
    transition: all.2s;
}

.experts .search .filter .filter-items .button:hover {
    background: var(--green-op);
    color: var(--light);
    cursor: pointer;
}

.experts .search .items {
    overflow-y: auto;
    height: 60vh;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: .4rem;
    padding: .4rem;
    padding-top: 0;
}

.experts .search .items::-webkit-scrollbar {
    width: .4rem;
    border-radius: 10px;
}

.experts .search .items::-webkit-scrollbar-thumb {
    background: var(--brown);
    border-radius: 10px;
}

.item {
    padding: .4rem;
    margin-bottom: .6rem;
    background: var(--light);
}

.item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item .title .name {
    font-weight: bold;
    color: var(--k-green-op);
}

.item .title .quantity {
    font-size: .8em;
}

.item .desc {
    margin: 0rem 0 .4rem .8rem;
    text-align: left;
}

.item .option {
    margin-top: .4rem;
    border: 1px solid var(--k-green-op);
    padding: .2rem .4rem;
    color: var(--green-op);
    transition: all.2s;
}

.item .option:hover {
    background: var(--green-op);
    color: var(--light);
    cursor: pointer;
}

.map {
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--k-white);
    height: 85vh;
}

agm-map {
    width: 95%;
    height: 500px;
}

::ng-deep.agm-map-container-inner {
    width: auto !important;
}

.details-container {
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: .4rem;
    background: var(--k-white);
    height: 86vh;
}

.details {
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 95%;
    background: var(--light);
    padding: 1rem;
    padding-bottom: 0;
    position: relative;
}

.details .close {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    font-size: 1.4em;
    color: var(--black);
}

.details .header {
    margin-top: 1.5rem;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid var(--k-green-op);
    position: relative;
    margin-right: 2rem;
}

.details .header .img {
    position: absolute;
    width: 16vh;
    height: 16vh;
    overflow: hidden;
    border-radius: 100px;
    left: -4rem;
}

.details .header .img img {
    width: 16vh;
    height: 16vh;
}

.details .header .details-info {
    font-size: 1.2rem;
    width: 50%;
    border-top: 2px solid var(--k-green-op);
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details .header .details-info .name {
    width: 100%;
    color: var(--k-green-op);
    font-size: 2em;
    text-align: center;
}

.details .header .details-info .sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .6em;
    width: 52%;
}

.details .header .details-info .sub .stars {
    color: var(--k-green-op);
}

.details .header .details-info .sub .ocupation {
    color: var(--k-green-op);
    font-weight: bold;
}

.details .header .info {
    text-align: right;
    margin-left: .4rem;
    font-size: .8em;
}

.details .header .info .book {
    padding: .4rem;
    border: 1px solid var(--k-green-op);
    font-weight: bold;
}

.details .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 1rem auto;
}

.details .main .img {
    width: 70%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.details .main .desc {
    width: 30%;
    background: var(--k-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: .65em;
    height: 45vh;
}

.details .main .desc .main-info {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.details .main .desc .main-info .name {
    font-weight: bold;
}

.details .main .desc hr {
    width: 80%;
    margin: 1rem 0;
}

.details .main .desc p {
    margin-top: .4rem;
}

.details .main .desc .text {
    width: 80%;
}

.details .slider-container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

.details .slider {
    width: 50%;
}

::ng-deep .swiper-slide.img {
    cursor: pointer;
    position: relative;
}

::ng-deep .swiper-slide.img .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: .6em;
    background: var(--k-white);
}

::ng-deep .swiper-slide.img .info .place {
    font-weight: bold;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 92%;
    margin: auto;
}

.contact-section .contact-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 1rem 0 0 0;
}

.contact-section .contact-header p {
    font-size: 1.5rem;
}

.contact-section .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 92%;
}

.contact-section .form .form-control {
    width: 100%;
}

.contact-section .form .form-control label {
    color: var(--k-green-op);
}

.contact-section .form .form-control input,
.contact-section .form .form-control textarea {
    width: 100%;
    padding: .4rem;
    transition: all.2s;
    outline: none;
    border: 2px solid var(--k-white)
}

.contact-section .form .form-control.second {
    width: 48%;
}

.contact-section .form .form-control textarea {
    min-height: 150px;
    max-height: 150px;
}

.contact-section .form .form-control input:focus,
.contact-section .form .form-control textarea:focus {
    border-color: var(--green-op);
}

.contact-section .button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
}

.contact-section button {
    border: 2px solid var(--green-op);
    color: var(--green-op);
    width: 30%;
    transition: all.2s;
    font-size: 1.2em;
    background: var(--light);
}

.contact-section button:hover {
    color: var(--light);
    background: var(--green-op);
    cursor: pointer;
}

@media (max-width:400px) {
    .web {
        display: none !important;
    }
    .mobile {
        display: flex !important;
    }
    section {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    section .header {
        width: 100%;
        margin-top: 8vh;
    }
    section .header .title {
        padding-right: 1rem;
        border-top: 0;
        width: 100%;
        font-size: 2em;
        font-weight: bold;
    }
    article {
        width: 100%;
        flex-direction: column-reverse;
    }
    .experts {
        width: 100%;
        margin: 0;
    }
    .experts .search .filter .header {
        margin: 1rem 0;
    }
    .experts .search .items {
        width: 100%;
        padding: 0;
        background: var(--light);
    }
    .item {
        width: 100%;
        display: flex;
        padding: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        padding-bottom: 2rem;
        background: var(--k-white);
    }
    .item .title {
        background: var(--grey);
        justify-content: flex-start;
        width: 100%;
        padding: .4rem 0;
    }
    .item .title div {
        padding-left: 3rem;
    }
    .item .title .name {
        font-size: 1.4em;
    }
    .item .desc,
    .item .img,
    .item .options {
        width: 70%;
    }
    .item .desc {
        text-transform: uppercase;
        margin: .4rem 0;
    }
    .item .option {
        background: var(--light);
        border: none;
        padding: .6rem;
    }
}