<main>
    <app-kitchensidebar></app-kitchensidebar>

    <section>
        <div class="header">
            <div class="logo-container web">
                <div class="img">
                    <img src="/assets/img/kitchen/logogreen.png" alt="">
                </div>
            </div>
            <div class="title">
                OPENING SYSTEMS
            </div>
        </div>

        <article>
            <div class="filters">
                <div class="filter" *ngFor="let filter of filters">
                    <div class="title"
                    [ngClass]="{'selected':filter.selected}"
                    (click)="selectFilter(filter, true)">
                        <p> {{filter.name}} </p> 
                        <!-- <i class="fas fa-minus" *ngIf="filter.selected"
                        (click)="selectFilter(filter, false)"></i>
                        <i class="fas fa-plus" *ngIf="!filter.selected"
                        (click)="selectFilter(filter, true)"></i> -->
                    </div>
                    <!-- <div class="options" *ngIf="filter.selected">
                        <div class="option" [ngClass]="{'selected':activeFilters[1] == option}"
                        *ngFor="let option of filter.filters"
                        (click)="applyFilter(option.Id, option.type)">
                            {{option.name}}
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="imgs">
                <swiper
                class="mySwiper web"
                [config]="config"
                >
                <ng-template
                swiperSlide *ngFor="let opening of openings">
                    <img class="img" src="{{url+opening.image}}" alt="">
                    <div class="info">
                        <div class="name">
                            <span>{{opening.name}}</span>
                            <p> From $200 to $900</p>
                        </div>
                        <i class="far fa-heart"></i>
                    </div>
                </ng-template>
                </swiper>

                <div class="images mobile">
                    <div class="image" *ngFor="let opening of openings">
                        <img class="img" src="{{url+opening.image}}" alt="">
                        <div class="info">
                            <div class="name">
                                <span>{{opening.name}}</span>
                                <p> From $200 to $900</p>
                            </div>
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>