<div class="img">
    <img src="/assets/img/landing.jpg" alt="">
</div>

<main class="fadein">
    
    <form [formGroup]="setPasswordForm" (onSubmit)="setPassword()">
<!-- 
        <i class="fas fa-times close"
        (click)="closeComponent()"></i> -->
        
        <h2>SET PASSWORD</h2>
        <hr style="width:80%;height:.1px;margin:.4rem" color="#9ec400">
        <!-- Please enter the required information or login. -->

        <div class="divider"></div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" style="width:60%">
        </div>

        <div class="form-group">
            <label for="password">Repeat password</label>
            <input type="password" formControlName="password1" style="width:60%">
        </div>

        <button class="btn {{error_text?'error':''}}"
        (click)="setPassword()">CREATE PASSWORD</button>
        <div class="{{errorClass}}-text fadein" *ngIf="error_text">{{error_text}}</div>
    </form>
</main>