.container-title {
    display: none;
}

@media (max-width:400px) {
    .container-title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem 0;
        width: 95vw;
        margin-left: .5rem;
        color: var(--k-green-op);
    }
    .container-title p {
        font-size: 14px;
    }
    .container-title .details-title {
        font-size: 80px;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 100%;
        max-width: 130%;
        color: var(--k-green-op);
        margin-bottom: 1rem;
        border-bottom: 1px solid black;
    }
    .container-title .big-details-title {
        font-size: 40px;
        padding-bottom: 1rem;
    }
}