
.container-starting {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    margin-top: 1rem;
}

.container-starting .left {
    width: 45%;
    height: 70vh;
}
.container-starting .left .starting {
    margin-left: 0rem;
    width: 20vw;
}
.container-starting .left h2 {
    color: var(--k-green-op);
}
.container-starting .left .image {
    width: 37vw;
    margin-left: 5px;
    height: 62vh;
}


.container-starting .left img {
    width: 82%;
    margin-left: 2rem;
}

.container-starting .left .image p {
    margin-left: 5rem;
    margin-top: 0.1rem;
    padding: 1rem;
}

.container-starting .left p {
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: .5rem;
}

.container-starting .right {
    width: 65%;
}
.container-starting .right h2{
    color: var(--green-op);
}

.right {
    display: flex;
    flex-direction: column;
}
.right .steps {
    width: 70%;
    margin-left: 50px;
}
.right .slider-conteiner{
    display: flex;
    align-items: center;
}
.right .slider-conteiner .custom{
    margin-left: 5rem; 
}

.slider-conteiner label {
   margin-left: .3rem;
    
}
.slider-conteiner input {
    border-radius: 50px;
    cursor:pointer;
}
.starting-closet{
    height: 100%;
    width: 100%;
}
.starting-closet .right .conteiner .slidecontainer {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.starting-closet .right .conteiner .slidecontainer input {
    width: 35%;
    margin-left: 5rem;
}
.starting-closet .container-starting .right .container-two {
    margin-top: 2rem;
}
.starting-closet .container-starting .right .container-two label {
    margin-right: 2rem;
}
.starting-closet .container-starting .right p {
    margin-left: 6rem;
}



.container-starting .slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #04AA6D;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
.container-starting .right .footer{
    color: var(--k-green-op);
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}
.container-starting .right .line-color{
    height: 7vh;
    width: 87%;
    margin-top: 30px;
    margin-left: 88px;
    background-color:var(--k-green-op);
}
/* --------------left------------------ */
.container-starting {
    display: flex;
    height: 90%;
}
.left .image {
    display: flex;
    height: 70vh;
}

.left h1 {
    color: var(--k-green-op);
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: x-large;
}
.left h3 {
    display: flex;
    color: var(--dark-brown);
    margin-left: 1rem;
    font-size: smaller;
    margin-bottom: 12px;
    
}
.left .image .one {
    width: 9vw;
    height: 60vh;
    margin: 0.5rem;
}
.left .image .two {
    width: 31vw;
    height: 60vh;
    margin-top: .5rem;
}
.left p {
    font-size: x-small;
    margin-left: 1rem;
}
