.container-dimensions {
    height: calc(80vh - 60px);
    width: 100vw;
    display: flex;
    color: var(--k-green-op);
}

/* --------------left------------------ */
.left .image {
    display: flex;
}

.left p {
    font-size: x-small;
    margin-left: 1rem;
}


/* --------------right------------------ */
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right h2{
    color: var(--green-op);
}

.right h4{
    font-size: 18px;
    margin-bottom: .5rem;
}

.right p{
    font-size: 14px;
    margin-bottom: 3rem;
    width: 50%;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-container input{
    margin-left: 10px;
}

/* --------SLIDER---------- */
.slider-container {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.slider-container p {
    margin-bottom: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #04AA6D;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
/* -------- END SLIDER---------- */


.container-input {
    width: 40%;
    display: grid;
    grid-template-columns: 30% 50%;
    grid-template-rows: auto;
}
.container-input input{
    width: 50%;
    justify-self: center;
}
.container-input p{
    width: 100%;
    text-align: center;
    text-decoration: underline;
}


.right .footer{
    margin-top: 1rem;
    justify-content: space-between;
    display: flex;
}

.right .line-color{
    height: 5%;
    width: 100%;
    margin-top: 1rem;
    background-color:var(--k-green-op);
}