<div class="starting-closet">
    <app-nav-header [config]="configNav" type="web" (sendViewNav)="openMenu()"></app-nav-header>
    <app-navbar2 [items]="itemsNav" [left]="navLeft" [showNavbar]="activeSidenav" (sendShowNavbar)="setSideNav($event)"></app-navbar2>
    
    <!-- left column whith text image and button -->
    <div class="container-starting">
        <div class="left">
            <h1>MASTER BED ROOM CLOSETS</h1>
            <h3>Champagne color Uprights, anchoring to Wall, 101-3/8°. Oak</h3>
            <h3>flamed color Shelves. Oak flarned color Open Units. Zinc color Drawers.</h3>
            <h3>Champagne color Rails. Standard dimensions 35° width.</h3>
            <div class="image">
                <!-- left large img white and black (shelves/open units....) -->
                <img class="one" [src]="srcForm" alt="">
                <!-- Left Big img the collection select with de botton  -->
                <img class="two" [src]="src" alt="">
            </div>
            <p class="title">FINISHES STEPS:1 - Panels 1.1 - Handles & Roils 2 - Shelves 3 - Open Units 4 - Drawer</p>
        </div>

        <div class="right">
            <div class="steps">
                <img [src]="srcSteps" alt="">
            </div>
            <h2>Dimensions</h2>
            <h4>Select module dimensions</h4>
            <p>Select the module measurements. The standard</p>
            <p>option covers the present measurements, and the</p>
            <p>custom mode allows you to place a</p>
            <p>different meaasurement.</p>
            <div class="slider-conteiner">
                <input type="radio" name="" value="standard">
                <label for="stand"> Standard</label>
                <input class="custom" type="radio" name="" value="custom">
                <label for="cust"> Custom (+S) </label>
            </div>
            <div class="conteiner">
                <div class="slidecontainer">
                    <label for="fname">Width</label>
                    <input type="range" min="35" max="54.5" [value]="dimValue" class="slider" #ranger (input)="setRange(ranger.value)">
                </div>
                <p>Value: {{dimValue}}<span id="demo"></span></p>
            </div>
            <div class="container-two">
                <label for="fname">Depth</label>
                <input type="text" id="fname" name="fname" value="19-1/2°"><br><br>
                <label for="lname">Height</label>
                <input type="text" id="lname" name="lname" value="101-3/16°">
            </div>
            <p>change the height</p>
            <div class="footer">
                <h3>See all your selected modules ></h3>
                <app-button [type]="'next-step'" (click)="selectClosetAndContinue()" ></app-button>
                <!-- <app-button [config]="configButton" (click)="selectClosetAndContinue()" ></app-button> -->
            </div>
            <div class="line-color"></div>
        </div>  
    </div>
</div>
