.phone {
    display: none;
}

@media (max-width:450px) {
    .phone {
        display: flex;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        left: 0;
        top: 0;
        width: 100vw;
        height: 10vh;
        background: #fff;
        padding: .2rem;
        z-index: 999;
        color: var(--green);
        font-size: 2rem;
    }
    .phone .img {
        width: 70%;
        margin-left: .2rem;
    }
    .phone i {
        font-size: .6em;
        padding: .4rem;
    }
    .phone .sms {
        transform: rotateY(180deg);
        margin-bottom: 0.5rem;
    }
    /* When the menu is active */
    .phone.active {
        background: var(--k-black);
    }
    .phone.active .bar i {
        transform: rotate(270deg);
    }
}


/* ----------WEB--------------- */

.navbar-closets {
    width: 100vw;
    margin-top: 1.4rem;
    height: 43px;
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 4px;
}

.navbar-closets .left {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    font-size: 30px;
    align-items: flex-end;
}

.navbar-closets .left i {
    margin-left: 2rem;
    cursor: pointer;
    margin-bottom: 5px;
}

.navbar-closets .left img {
    margin-left: 2rem;
    width: 18vw;
}

.navbar-closets .sms {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.navbar-closets .sms i {
    margin-right: 2rem;
    margin-bottom: 5px;
    cursor: pointer;
}

@media (max-width:1300px),
(max-height:800px) {
    .navbar-closets {
        margin-top: 0.4rem;
    }
    .navbar-closets .left img {
        width: 23vw;
    }
}

@media (max-width:1000px) {
    .navbar-closets .left img {
        width: 30vw;
    }
}

@media (max-width:750px) {
    .navbar-closets .left img {
        width: 45vw;
    }
}

@media (max-width:450px) {}


/* ----------END WEB--------------- */