<div *ngIf="type === 'phone'" [ngClass]="{'phone': true, 'active' : active}">
    <div class="bar">
        <i class="fas fa-bars" (click)="setViewNav()"></i>
    </div>
    <div class="img">
        <img src="/assets/img/kitchen/logogreen.png" alt="">
    </div>
    <div class="sms">
        <i class="fas fa-phone-alt"></i>
    </div>
</div>

<div *ngIf="type === 'web'" class="navbar-closets">
    <div class="left">
        <i class="fas fa-bars" (click)="setViewNav()"></i>
        <img src="/assets/img/closets/logo-closets.png" alt="">
    </div>
    <div class="space-green">
        <p>SELECT CLOSET TYPE</p>
    </div>
<div class="username">
    <P>USERNAME</P>
</div>
    <div class="sms">
        <!-- <i class="fas fa-search"></i> -->
        <i class="fas fa-user"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>
</div>