.phone {
    display: none;
}

@media (max-width:400px) {
    .phone {
        display: flex;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        left: 0;
        top: 0;
        width: 100vw;
        height: 10vh;
        background: #fff;
        padding: .2rem;
        z-index: 999;
        color: var(--green);
        font-size: 2rem;
    }
    .phone .img {
        width: 70%;
        margin-left: .2rem;
    }
    .phone i {
        font-size: .6em;
        padding: .4rem;
    }
    .phone .sms {
        transform: rotateY(180deg);
        margin-bottom: 0.5rem;
    }
    /* When the menu is active */
    .phone.active {
        background: var(--k-black);
    }
    .phone.active .bar i {
        transform: rotate(270deg);
    }
}


/* ----------WEB--------------- */

.navbar-closets {
    width: 100vw;
    height: 100px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.navbar-closets .img-container {
    margin-left: 2rem;
    height: 7vh;
    width: 23vw;
}

.navbar-closets .sms {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
}

.navbar-closets .sms i {
    margin-right: 2rem;
}

.navbar-closets .left {
    display: flex;
    width: 45vw;
    justify-content: flex-start;
    font-size: 3rem;
}

.navbar-closets .bar {
    cursor: pointer;
}