.container-collection {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "hero gallery-header description" "gallery-scroll gallery-show description";
    margin-top: 1rem;
    max-height: calc(100vh - 50px);
}

.item-1 {
    grid-area: hero;
    align-self: center;
}

.item-2 {
    grid-area: gallery-scroll;
    margin-top: 2rem;
}

.item-3 {
    grid-area: gallery-header;
}

.item-4 {
    grid-area: gallery-show;
    margin-top: 2rem;
}

.item-5 {
    grid-area: description;
}