<div class="cont">
    <div class="step-form-1" >
        <h2 [ngClass]="{'active-H2': steps[0], 'inactive-H2': !steps[0]}" class="title" (click)="showStep(0)">Form</h2>
        <p class="description">Selected form: Gallery</p>
        <div *ngIf="steps[0]" class="space-between">
            <app-shape [shapes]="shapes" (sendShape)="activeButton($event, 0)"></app-shape>
            <app-button [config]="configNextButton[0]" (click)="selectStepAndContinue(0)" ></app-button>
        </div>
    </div>

    <!-- <div class="step-form-2">
        <h2 class="title">Step 2 Closets Type</h2>
        <p class="description">Select closets type</p>
        <div class="options"></div>
    </div> -->
    <!-- <app-horizontal-gallery *ngIf="closetTypes.length" class="item-3" [items]="closetTypes" [horizontal]="true" (sendImageUrl)="typeSelected($event)"></app-horizontal-gallery> -->

    <div class="step-form-3" >
        <h2 [ngClass]="{'active-H2': steps[1], 'inactive-H2': !steps[1]}" class="title" (click)="showStep(1)">Measures</h2>
        <p class="description">Enter measuresments and select the modules</p>
        <div class="space-between" *ngIf="steps[1]">
            <table class="select-table">
                <tr>
                    <td></td>
                    <td>Width</td>
                    <td>Height</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-i">WALL A</td>
                    <td class="b-l b-t b-r b-b td-size">150"</td>
                    <td class="b-t b-r b-b td-size">98"</td>
                    <td class="opt b-t b-r b-b">
                        <select name="" id="">
                            <option value="Walk in Closet">Walk in Closet</option>
                            <option value="Wardrobe Closet">Wardrobe Closet</option>
                            <option value="Walk in + Wardrobe">Walk in + Wardrobe</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-i">WALL B</td>
                    <td class="b-l b-r b-b">92"</td>
                    <td class="b-r b-b">98"</td>
                    <td class="opt b-r b-b"> 
                        <select name="" id="">
                            <option value="Walk in Closet">Walk in Closet</option>
                            <option value="Wardrobe Closet">Wardrobe Closet</option>
                            <option value="Walk in + Wardrobe">Walk in + Wardrobe</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-i">WALL C</td>
                    <td class="b-l b-r b-b">92"</td>
                    <td class="b-r b-b">98"</td>
                    <td class="opt b-r b-b"> 
                        <select name="" id="">
                            <option value="Walk in Closet">Walk in Closet</option>
                            <option value="Wardrobe Closet">Wardrobe Closet</option>
                            <option value="Walk in + Wardrobe">Walk in + Wardrobe</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-i">ISLAND</td>
                    <td class="opt-hor b-l b-r b-b"> 
                        <select name="" id="">
                            <option value="34-1/4">34-1/4"</option>
                            <option value="46">46"</option>
                            <option value="67-3/8">67-3/8"</option>
                            <option value="79-1/4">79-1/4"</option>
                        </select>
                    </td>
                    <td class="opt-hor b-r b-b"> 
                        <select name="" id="">
                            <option value="33">33"</option>
                        </select>
                    </td>
                    <td class="opt b-r b-b"> 
                        <select name="" id="">
                            <option value="2 sides">2 sides</option>
                        </select>
                    </td>
                </tr>
            </table>
            <app-button [config]="configNextButton[1]" (click)="selectStepAndContinue(1)" ></app-button>
        </div>
    </div>

    <div class="step-form-4">
        <h2 [ngClass]="{'active-H2': steps[2], 'inactive-H2': !steps[2]}" class="title" (click)="showStep(2)">Users</h2>
        <p class="mb4">Select Closet Type</p>
        <div *ngIf="steps[2]">
            <div class="input-user mb8">
                <label >User 1:</label>
                <input type="text" [(ngModel)]="users[0]" (keyup)="sendUser(users[0])">
                <label >User 2:</label>
                <input type="text" [(ngModel)]="users[1]" (keyup)="sendUser(users[1])">
            </div>
            <div class="space-between">
                <app-button style="margin-bottom: 1rem;" [config]="configNewUserButton"></app-button>
                <app-button [config]="configNextButton[2]" (click)="selectStepAndContinue(2)"></app-button>
            </div>
        </div>
    </div>   
   
    <div class="step-form-5">
        <h2 [ngClass]="{'active-H2': steps[3], 'inactive-H2': !steps[3]}" class="title" (click)="showStep(3)">Corners</h2>
        <p class="description">Select model for Corners that you want</p>
        <div class="gallery" *ngIf="steps[3]">
            <div>
                <app-horizontal-gallery [config]="configFirstCorners" (sendImageUrl)="typeSelected($event)"></app-horizontal-gallery>
                <p>Wall A - Wall B Corner</p>
            </div>
            <hr>
            <div>
                <app-horizontal-gallery [config]="configFirstCorners" (sendImageUrl)="typeSelected($event)"></app-horizontal-gallery>
                <p>Wall C - Wall A Corner</p>
            </div>
        </div>
    </div>
    <app-button class="finish-button" *ngIf="steps[3]" [config]="configNextButton[3]" (click)="selectStepAndContinue(3)"></app-button>
</div>

