.cont {
    height: 70vh;
}
.next .options {
    display: flex;
}

.next .right .options .size {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ////////////TABLE///////////// */
.select-table {
    margin-left: 15px;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
}

.td-size {
    width: 6rem;
}

.text-i {
    text-align: initial;
}

.b-t {
    border-top: 1px solid black;
}
.b-b {
    border-bottom: 1px solid black;
}
.b-l {
    border-left: 1px solid black;
}
.b-r {
    border-right: 1px solid black;
}

.select-table select {
    border: none;
    width: 90%;
    text-align: center;
}

select:focus { 
    outline: none; 
} 

/* //////////END-TABLE//////////////// */



/* -------FORM----------- */

/* -------MEASURES----------- */


.step-form-3 {
    margin-bottom: 1rem;
}
.step-form-3 .size{
    display: flex;
    margin: 2px;
    padding: 1px;
    margin-left: 73px;
    font-size: 13px;
}
.step-form-3 .size p{
   
    margin-right: 10px;
}
/* ---------USERS----------- */

.step-form-4 .users label{
    margin-right: 1rem;
}
.step-form-4 .users .but{
    background-color: white;
    color: var(--k-green-op);
    width: 7vw;
    border-radius: 9px;
}
.step-form-4 .content .cont button{
    background-color: white;
    color: var(--green);
    width: 7vw;
    border-radius: 9px;
    border: solid 1px var(--green);
    cursor: pointer;
}
.step-form-4 .content .cont button:hover{
    background-color: var(--k-green-op);
    color: white;
}
.step-form-4 .content label{
    margin-right: 1rem;
}
/* -------------CORNERS------------- */

.step-form-5 .gallery{
    display: flex;
}
.step-form-5 .gallery hr{
    height: 12vh;
    border: 1px solid var(--k-green-op);
    margin: 1rem;
}
.step-form-5 .gallery p {
    text-align: center;
}

.inactive-H2{
    color: var(--k-green-op);
    cursor: pointer;
}

.active-H2 {
    color: var(--green);
    cursor: pointer;
}
