<div class="container">
    <app-nav-header [config]="configNav" type="web" (sendViewNav)="openMenu()"></app-nav-header>
    <app-navbar2 [items]="itemsNav" [left]="navLeft" [showNavbar]="activeSidenav" (sendShowNavbar)="setSideNav($event)"></app-navbar2>
    
    <app-secondary-header [config]="configHeader"></app-secondary-header>

    <div class="gallery">
        <h2>Accesorios</h2>
        <p>Select accesories for your closet</p> 
        <app-horizontal-gallery class="item-3" [config]="configAccesoriesGallery"></app-horizontal-gallery>
    </div>
    <div class="buttons">
        <app-button [config]="configNext" (click)="selectClosetAndContinue()" ></app-button>
        <app-button [config]="configFinish" (click)="selectClosetAndContinue()" ></app-button>
    </div>
  
</div>
